:root {
  --text-color: #191919;
}

html {
  margin: 0;
  padding: 0;
  background-color: #191919;
  max-width: 100%;
}

body {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

/* ----------------
  Style Resets
  ----------------*/
h1,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}
/* ----------------
  Utility Classes
  ----------------*/
.text-center {
  /* Centers text in an element */
  text-align: center  !important;
}

/* remove bullets and space items even horizontally*/
.flex-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.italics {
  font-style: italic;
}

.flex-even-space {
  flex: 1;
}

.list-bulletless {
  list-style: none;
  text-align: center;
}

/* ----------------
  Major Styles
  ----------------*/
header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: var(--text-color);
  padding-top: 15px;
  height: 90px;
}

header,
header h4 ul li {
  color: white;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  width: 80%;
  /* backdrop design */
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(68,68,68,.8);
  border-radius: 5px;
  color: white;
  border-width: 1px;
}

h4 {
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  line-height: 1.6;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}

li {
  padding: 10px 0;
  color: var(--text-color);
}



picture,
img {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  background-size: cover;
}

/* ----------------
  Selector Styles
  ----------------*/

.section-wrapper {
  margin-top: 105px;
  max-width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.hr-underline {
  width: 30%;
  min-width: 200px;
  border-color: rgba(68,68,68,.4);
}

.github-link {
  padding-top: 5px;
  padding-bottom: 10px;
}

.list-bulletless a {
  color: #ec4431;
  font-size: 14px;
}

footer {
  padding-top: 15px;
  background-color: var(--text-color);
}

footer h5 {
  letter-spacing: 1px;
  text-decoration: underline;
  color: white;
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

footer ul li {
  font-size: 10px;
  text-transform: uppercase;
}

footer ul li a {
  color: #ec4431;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  h4 {
    font-size: 16px;
  }

  p,
  .list-bulletless {
    font-size: 20px;
    max-width: 700px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
  }

  .list-bulletless a {
    font-size: 16px;
  }

  .section-wrapper {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    padding-top: 25px;
    padding-bottom: 5px;
  }

  footer h5 {
    font-size: 14px;
  }

  footer ul li {
    font-size: 14px;
  }

}
