body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  background-color: #515151;
  color: #f1f2eb;
  max-width: 900px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #eaeaea;
}

img {
  max-width: 33%;
  max-height: 200px;
  background-size: cover;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  margin-bottom: 1em;
}

.resume-header {
  text-align: center;
  max-width: 100%;
}

.resume-header-title {
  font-size: 84px;
  font-weight: bold;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
}

.resume-purpose {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.project, .job, .education {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: normal;
}

.project-name, .job-title, .school-name {
  text-align: left;
  font-size: 24px;
  margin-bottom: 12px;
  text-decoration: underline;
}

.project-desc {
  font-weight: normal;
  color: #adfff1;
  text-align: left;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.job-name, .job-dates, .school-location, .school-graduation {
  font-weight: normal;
  color: #adfff1;
  text-align: left;
  font-size: 18px;
}

.project-items,
.job-items,
.school-items,
.skill-items,
.reference-items {
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  color: #f1f2eb;
}

.job-items,
.school-items,
.skill-items,
.reference-items {
  margin-top: 12px;
}

#resume-projects, #resume-work, #resume-education {
  width: 100%;
  margin-bottom: 24px;
}

#resume-skillz, #resume-contact {
  width: 50%;
  margin-bottom: 24px;
}

@media screen and (max-width: 600px) {

  body{
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .resume-header-title {
    font-size: 36px;
  }

  .section-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .resume-purpose {
    width: 90%;
    font-size: 18px;
  }

  .project, .job, .education {
    margin-bottom: 40px;
  }

  .project-name, .job-title, .school-name {
    font-weight: normal;
    text-align: center;
    font-size: 24px;
  }

  .project-desc {
    text-align: center;
    font-size: 18px;
  }

  .job-name,
  .job-dates,
  .school-location,
  .school-graduation  {
    text-align: center;
  }

  .project-items,
  .job-items,
  .school-item,
  .skill-items,
  .reference-items {
    font-weight: normal;
    text-align: left;
    font-size: 18px;
  }

  #resume-projects {
    order: 1;
    text-align: center;
    margin-bottom: 4px;
  }

  #resume-work {
    order: 2;
    text-align: center;
  }

  #resume-education {
    order: 3;
    text-align: center;
  }

  #resume-picture {
    display: none;
  }

  #resume-skillz {
    order: 4;
    width: 100%;
    text-align: center;
  }

  #resume-contact {
    order: 5;
    width: 100%;
    text-align: center;
  }

}
