<!DOCTYPE html>
<html ng-app="application">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Summary of Kevin Fischer">
  <meta name="author" content="Kevin Fischer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kevin Fischer - The Person Behind The Code</title>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <!-- Load Angular framework v1.6.4 -->
  <script src="js/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="MainController">

  <header class="text-center">
    <!-- Name and subtitles -->
    <h1>{{name}}</h1>
    <h4>
      <ul class="flex-list">
        <li ng-repeat="title in sectionTitles" class="flex-even-space">{{title}}</li>
      </ul>
    </h4>
  </header>

  <div class="section-wrapper">
    <section ng-repeat="section in sectionData">
      <h2>{{section.sectionTitle}}</h2>
      <hr class="hr-underline">
      <picture>
        <source media="(min-width: 800px)" srcset="{{section.imageLarge}}">
        <source media="(min-width: 300px)" srcset="{{section.imageMedium}}">
        <source media="(min-width: 200px)" srcset="{{section.imageSmall}}">
        <img src="{{section.imageLarge}}">
      </picture>
      <p ng-repeat="paragraph in section.sectionParagraphs">{{paragraph}}</p>
      <!-- If sectionList exists this html will trigger -->
      <p>{{section.sectionList.listTitle}}</p>
      <!-- If listAdvanced exists this html will trigger -->
      <ul>
        <li ng-repeat="item in section.sectionList.listAdvanced" class="list-bulletless">
          <div>
            <strong>{{item.itemName}}</strong>
          </div>
          <div class="italics">
            {{item.itemDescription}}
          </div>
          <div class="github-link">
            <a ng-href="{{item.itemSource}}">See Project On GitHub</a>
          </div>
        </li>
      </ul>
      <!-- If listSimple exists this html will trigger -->
      <ul class="list-bulletless">
        <li ng-repeat="item in section.sectionList.listSimple" class="italics">{{item}}</li>
      </ul>
      <hr>
    </section>
  </div>

  <footer>
    <h5 class="text-center">Work with me</h5>
    <ul class="flex-list">
      <li ng-repeat="item in footerData" class="flex-even-space text-center"><a ng-href="{{item.source}}" target={{item.target}}>{{item.description}}</a></li>
    </ul>
  </footer>

  <!-- Load custom application JS -->
  <script src="js/app.js"></script>
</body>
</html>
