<!DOCTYPE html>
<html ng-app="application">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Summary of Kevin Fischer">
  <meta name="author" content="Kevin Fischer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kevin Fischer - The Person Behind The Code</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="MainController">

  <header>
    <!-- Name and subtitles -->
    <h1>{{name}}</h1>
    <h4>
      <ul>
        <li ng-repeat="title in sectionTitles">{{title}}</li>
      </ul>
    </h4>

  </header>

  <section ng-repeat="section in sectionData">
    <h2>{{section.sectionTitle}}</h2>
    <p ng-repeat="paragraph in section.sectionParagraphs">{{paragraph}}</p>
    <!-- If sectionList exists this html will trigger -->
    <p>{{section.sectionList.listTitle}}</p>
    <!-- If listAdvanced exists this html will trigger -->
    <ul>
      <li ng-repeat="item in section.sectionList.listAdvanced"><span><a ng-href="{{item.itemSource}}">{{item.itemName}}</a> - {{item.itemDescription}}</span></li>
    </ul>
    <!-- If listSimple exists this html will trigger -->
    <ul>
      <li ng-repeat="item in section.sectionList.listSimple">{{item}}</li>
    </ul>

  </section>

  <footer>
  </footer>

  <!-- Load jquery v3.2.1 -->
  <script src="js/jquery-3.2.1.js"></script>

  <!-- Load Angular framework v1.6.4 -->
  <script src="js/angular.min.js"></script>

  <!-- Load custom application JS -->
  <script src="js/app.js"></script>
</body>
</html>
